@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensed Light"; */
@font-face {
    font-family: "RobotoCondensedLight";
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensed Bold"; */
@font-face {
    font-family: "RobotoCondensedBold";
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"),
    url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
*{
	margin:0;
	padding:0;
}
.header_content{
	font-family:RobotoCondensed,Helvetica,Arial,sans-serif;
	width:100%;
	background-image:url(../image/blog_bg.jpg);
	background-repeat:no-repeat;
	background-position:50% 0%;
}
.header{
	height:305px;
	width:913px;
	margin:0 auto;
}
.menu{
	display:inline-block;
	height:80px;
	width:100%;
	background-image:url(../image/header_back.png);
	background-repeat:no-repeat;
}
.logo{
	display:inline-block;
	width:179px;
	margin-right:140px;
}
.menu img{
	padding-top:6px;
	padding-right:35px;
}
.item{
	display:inline-block;
	vertical-align:top;
	margin-right:50px;
}
.item li{
	display:inline-block;
}
.item ul a{
	text-decoration:none;
	display:inline-block;
	padding:33px 25px 28px 25px;
	text-transform:uppercase;
	font-size:0.875em;
	color:#797979;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.item ul a:hover{
	color:#d27543;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.language{
	font-family:RobotoCondensed,Helvetica,Arial,sans-serif;
	vertical-align:top;
	display:inline-block;
	font-weight:300;
}
.language li{
	display:inline-block;
}
.language li a{
	text-decoration:none;
	display:inline-block;
	padding:35px 5px 28px 5px;
	text-transform:uppercase;
	font-size:0.875em;
	color:#9f8e71; 
	text-shadow:1px black;
}
#language{
	color:#727272;
}
#contacts{
	color:#ffffff;
	background-image:url(../image/menu_back.jpg);
	background-repeat:no-repeat;
	background-size:128px 80px;
	border-bottom:3px solid #f6ae0a;
	border-left:1px solid #2a2a2a;
	border-right:1px solid #2a2a2a;
}
.header h3{
	font-family:RobotoCondensedLight,Helvetica,Arial,sans-serif;
	margin-top:80px;
	margin-left:40px;
	margin-bottom:80px;
	font-weight:100;
	color:#e79705;
	font-size:1.7em;
	text-transform:uppercase;
}
#main_link{
	margin-left:40px;
	display:inline-block;
	height:15px;
	width:65px;
	padding-right:10px;
	border-right:1px solid #9f8e71;
	color:#9f8e71;
	font-size:0.875em;
	text-transform:uppercase;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
#main_link:hover{
	color:#d27543;
	border-right:1px solid #d27543;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.header p{
	display:inline;
	color:#9f8e71;
	font-size:0.875em;
	text-transform:uppercase;
	padding-left:10px;
}
.main_content{
	font-family:RobotoCondensed,Helvetica,Arial,sans-serif;
	font-weight:300;
	background-color:#ffffff;
	width:100%;
}
.inner{
	width:913px;
	margin:0 auto;
}
.inner div{
	font-size:16px;
	width:30%;
	margin-top:65px;
	display:inline-block;
	vertical-align:top;
}
#contacts_im1{
	margin-left:95px;
	margin-right:60px;
	display:inline-block;
	width:133px;
	height:200px;
	background-image:url(../image/contacts_main.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-delay:initial;
	transition-duration:0.5s;
}
#contacts_im2{
	margin-left:95px;
	margin-right:60px;
	display:inline-block;
	width:133px;
	height:200px;
	background-image:url(../image/contacts_main.png);
	background-repeat:no-repeat;
	background-position:-133px 0px;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-delay:initial;
	transition-duration:0.5s;
}
#contacts_im3{
	margin-left:95px;
	display:inline-block;
	width:133px;
	height:200px;
	background-image:url(../image/contacts_main.png);
	background-repeat:no-repeat;
	background-position:-266px 0px;
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-delay:initial;
	transition-duration:0.5s;
}
#contacts_im1:hover, #contacts_im2:hover, #contacts_im3:hover{
	transform: scale(1.1);
	transition-property:all;
	transition-timing-function:ease-in-out;
	transition-delay:initial;
	transition-duration:0.5s;
}
.inner div p{
	margin-top:175px;
	margin-left:-20px;
	margin-right:-20px;
}
.inner div span{
	display:inline-block;
	width:15px;
	height:16px;
	background-image:url(../image/contacts_main.png);
	background-position:-400px -57px;
	background-repeat:no-repeat;
	padding-right:10px;
}
#p1{
	color:#df8a02;
	text-decoration:underline;
}
#p2{
	margin-left:-10px;
}
#p3{
	margin-left:-10px;
}
#line{
	width:100%;
	margin-top:75px;
	margin-bottom:65px;
}
#form h3{
	text-transform:uppercase;
	font-size:24px;
	text-align:center;
	font-weight:300;
	margin-bottom:35px;
	margin-left:25px;
}
#bold{
	display:inline-block;
	width:130px;
	font-size:16px;
	vertical-align:top;
	margin-left:1px;
	margin-top:7px;
	margin-bottom:20px;
	margin-right:0px;
}
#form input{
	outline-color:#f6ae0a;
	display:inline-block;
	width:455px;
	height:32px;
	vertical-align:top;
	background-color:#f2f2f2;
	border:none;
	resize: vertical;
}
#form textarea{
	outline-color:#f6ae0a;
	width:455px;
	height:140px;
	background-color:#f2f2f2;
	border:none;
	resize: vertical;
	margin-right:30px;	
}
#form{
	display:block;
	width:100%;
	margin:0 auto;
}
#form img{
	vertical-align:top;
	margin-top:7px;
	margin-left:150px;
}
#file{
	display:inline-block;
	width:135px;
	vertical-align:top;
	font-size:16px;
	margin-top:10px;
	margin-left:161px;
	margin-right:0px;
}
#file_form{
	vertical-align:top;
	display:inline-block;
	max-width:315px;
	height:30px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#f2f2f2;
}
#review{
	display:inline-block;
	width:135px;
	height:32px;
	text-align:center;
	text-transform:uppercase;
	color:#ffffff;
	background-color:#c0c0c0;
	vertical-align:top;
	margin-top:10px;
	margin-left:2px;
	box-sizing:border-box;
	padding-top:8px;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
#review:hover{
	background-color:#dcdbdb;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
#last_p{
	display:block;
	width:450px;
	color:#b1b1b1;
	font-size:16px;
	margin-top:0px;
	margin-left:305px;
	margin-bottom:25px;
}
.inner .send{
	font-family:RobotoCondensedLight,Helvetica,Arial,sans-serif;
	font-weight:100;
    margin-left: 300px;
    display: block;
    max-width: 235px;
    height: 55px;
    background-color: #f6ae0a;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
	margin-top:25px;
    margin-bottom: 135px;
}
#form .send a{
	text-decoration:none;
	color:#ffffff;
}
.socials{
	float:right;
	display:inline-block;
	width:12%;
	vertical-align:top;
	margin-top:12px;
	margin-right:43px;
}
.socials ul li{
	padding-left:7px;
	list-style-type:none;
	display:inline-block;
}
.socials a{
	display:inline-block;
	width:26px;
	height:25px;
}
#item1{
	background:url(../image/blog_socials.png);
	background-position:0px -25px;
}
#item1:hover{
	background-position:0px 0px;
}
#item2{
	background:url(../image/blog_socials.png);
	background-position:-26px -25px;
}
#item2:hover{
	background-position:-26px 0px;
}
#item3{
	background:url(../image/blog_socials.png);
	background-position:-52px -25px;
}
#item3:hover{
	background-position:-52px 0px;
}
.border{
	margin-left:43px;
	margin-bottom:38px;
}
#lower{
	margin-top:25px;
	margin-bottom:400px;
}
.footer{
	font-size:14px;
	font-family:Arial;
	height:180px;
	width:913px;
	margin:0 auto;
	color:white;
}
.contact{
	display:inline-block;
	width:25%;
	vertical-align:top;
	float:left;
}
.e-mail a{
	color:#f6ae0a;
}
.e-mail img{
	margin-right:7px;
	margin-top:20px;
}
.e-mail  a img{
	margin-right:7px;
	margin-top:35px;
}
.e-mail span{
	vertical-align:bottom;
	color:#ffffff;
}
.footer{
	display:block;
	width:100%;
	height:180px;
	background-image:url(../image/blog_bg_footer.jpg);
}
.footer_inner{
	font-size:14px;
	font-family:Arial;
	width:913px;
	margin:0 auto;
	color:white;
}
.contact{
	display:inline-block;
	width:25%;
	vertical-align:top;
	float:left;
}
.e-mail a{
	color:#f6ae0a;
}
.e-mail img{
	margin-right:7px;
	margin-top:20px;
}
.e-mail  a img{
	margin-right:7px;
	margin-top:35px;
}
.e-mail span{
	vertical-align:bottom;
	color:#ffffff;
}
.footer_socials{
	display:inline-block;
	width:35%;
	vertical-align:top;
	margin-top:58px;
	margin-left:75px;
}
.footer_socials ul li{
	padding-left:7px;
	list-style-type:none;
	display:inline-block;
}
.footer_socials a{
	display:inline-block;
	width:26px;
	height:25px;
}
#pic1{
	background:url(../image/socials.png);
	background-position:0px 0px;
}
#pic1:hover{
	background-position:0px -25px;
}
#pic2{
	background:url(../image/socials.png);
	background-position:-26px 0px;
}
#pic2:hover{
	background-position:-26px -25px;
}
#pic3{
	background:url(../image/socials.png);
	background-position:-52px 0px;
}
#pic3:hover{
	background-position:-52px -25px;
}
#pic4{
	background:url(../image/socials.png);
	background-position:-78px 0px;
}
#pic4:hover{
	background-position:-78px -25px;
}
#pic5{
	background:url(../image/socials.png);
	background-position:-104px 0px;
}
#pic5:hover{
	background-position:-104px -25px;
}
#pic6{
	width:25px;
	background:url(../image/socials.png);
	background-position:-130px 0px;
}
#pic6:hover{
	background-position:-130px -25px;
}
#pic7{
	width:25px;
	background:url(../image/socials.png);
	background-position:-155px 0px;
}
#pic7:hover{
	background-position:-155px -25px;
}
.signature{
	display:inline-block;
	width:30%;
	vertical-align:top;
	margin-top:30px;
	float:right;
	color:#6e634f;
}
.signature img{
	float:right;
}
.signature p{
	margin-top:5px;
	font-size:12px;
	float:right;
}