/* Код для подключения шрифта в /css/stylename.css */
/* font-family: "RobotoCondensed Regular"; */
@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensed Light"; */
@font-face {
    font-family: "RobotoCondensedLight";
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensed Bold"; */
@font-face {
    font-family: "RobotoCondensedBold";
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"),
    url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
*{
	margin:0;
	padding:0;
}
body{
	background-image: url(../image/background_main.jpg);
	background-position: center -100px;
	background-repeat:no-repeat;
}
.main{
	color:#a38f76;
	font-family:Roboto,Helvetica,Arial,sans-serif;
	width:913px;
	margin:0 auto;
	font-weight:normal;
}
.header{
	font-family:RobotoCondensed,Helvetica,Arial,sans-serif;
	display:inline-block;
	background-image:url(../image/header_back.png);
	background-repeat:no-repeat;
}
.logo{
	display:inline-block;
}
.header img{
	padding-top:6px;
	padding-right:35px;
}
.menu{
	vertical-align:top;
	margin-top:15px;
	display:inline-block;
	padding-bottom:10px;
	width:573px;
}
.menu li{
	display:inline-block;
}
.menu ul a{
	font-weight: bold;
	text-decoration:none;
	display:block;
	padding:14px 35px;
	text-transform:uppercase;
	font-size:13px;
	color:#727272;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.menu ul a:hover{
	color:#d27543;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.language{
	vertical-align:top;
	margin-top:15px;
	display:inline-block;
}
.language li{
	display:inline-block;
}
.language li a{
	font-weight: bold;
	text-decoration:none;
	display:block;
	padding:14px 5px;
	text-transform:uppercase;
	font-size:13px;
	color:#9f8e71; 
}
#language{
	color:#727272;
}
.text{
	padding-top:185px;
	text-transform: uppercase;
	text-align:left;
	color:#a38f76;
}
.text p{
	font-family:Roboto Thin;
	padding-left:5px;
	font-size:60px;
}
.text h3{
	font-size:40px;
	margin-left:-7px;
}
#g{
	color:#a89170;
}
#a{
	color:#ab926c;
}
#m{
	color:#a9916e;
}
#i{
	color:#b19464;
}
#n{
	color:#b19563;
}
#g2{
	color:#b5965e;
}
#w{
	color:#b8975b;
}
#e2{
	color:#bd9955;
}
#b{
	color:#c09a51;
}
#d{
	color:#c39b4c;
}
#e3{
	color:#c79d47;
}
#s{
	color:#cc9f41;
}
#i2{
	color:#cfa03d;
}
#g3{
	color:#d7a334;
}
#n2{
	color:#dea52a;
}
.text div a{
	font-family:Roboto Thin;
	display:inline-block;
	text-transform:none;
	font-size:14px;
	font-weight:400;
	color:#9f8e71;
	margin-left:-5px;
	margin-top:10px;
}
.text a:hover{
	color:#bcb19f;
}
.text img{
	text-decoration:none;
	padding:0px 7px;
}
.brown{
	margin-top:250px;
	width:100%;
	height:240px;
	background: rgba(178, 109, 36, 0.1);
	font-family:RobotoCondensed Light,Roboto Condensed,Helvetica,Arial,sans-serif;
	font-weight:100;
}
.brown_inner{
	width:913px;
	margin:0 auto;
}
.brown_inner_left{
	display:inline-block;
	width:45%;
}
.brown_inner_left p{
	text-transform:uppercase;
	color:#9f8e71;
	padding-top:33px;
	padding-bottom:18px;
	padding-left:8px;
	font-size:20px;
	font-family:Roboto Condensed,Helvetica,Arial,sans-serif;
}
#brief{
	position:relative;
	padding-top:22px;
	display:inline-block;
	width:362px;
	height:89px;
	font-family:RobotoCondensed Light,Roboto Condensed,Helvetica,Arial,sans-serif;
	font-weight:100;
	color:#ffffff;
	text-transform:uppercase;
	text-align:center;
	font-size:30px;
	border:4px solid #622b08;
	background-image:url(../image/brief.jpg);
	background-position:0px 0px;
	box-sizing:border-box;
	vertical-align:top;
	text-decoration:none;
	transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
	box-shadow: 0 0 15px rgb(0,0,0);
}
/*.brown_inner_left .brief{
	position:relative;
	top:-68px;
	padding:0px;
	font-family:RobotoCondensed Light,Roboto Condensed,Helvetica,Arial,sans-serif;
	font-weight:100;
	color:#ffffff;
	text-transform:uppercase;
	text-align:center;
	font-size:30px;
}*/
#brief span{
	position:absolute;
	top:0;
	left:0;
	box-sizing:border-box;
	display:inline-block;
	width:100%;
	height:100%;
	opacity:0.2;	
	background-color:#000000;
	transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
	box-shadow: 0 0 15px rgb(0,0,0);
}
#brief span:hover{
	opacity:0;
	transition-property: all;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.brown_inner_left h6{
	font-family:Roboto Condensed,Helvetica,Arial,sans-serif;
	font-weight:300;
	display:block;
	width:370px;
	height:80px;
	text-align:center;
	color:#9f8e71;
	font-size:14px;
	font-family:Arial;
	padding-top:15px;
}
.brown_inner_right{
	vertical-align:top;
	display:inline-block;
	width:50%;
	float:right;
}
.brown_inner_right p{
	font-family:Roboto Condensed;
	color:#bd8416;
	text-transform:uppercase;
	margin-top:33px;
	margin-bottom:10px;
	font-size:24px;
	padding-left:25px;
	
}
.brown_inner_right li{
	padding-bottom:10px;
	list-style-type:none;
	display: inline;
}
.brown_inner_right a{
	vertical-align:top;
	display:inline-block;
	margin-left:10px;
	width:90px;
	height:90px;
	border:5px solid #7d492b;
}
#works{
	float:right;
	color:#9f8e71;
	text-decoration:underline;
	font-size:16px;
	margin-top:10px;
	border:none;
}
#works img{
	padding-left:7px;
	border:none;
}
#work1{
	background-image:url(../image/elmoreden.jpg);
}
#work2{
	background-image:url(../image/hots.jpg);
}
#work3{
	background-image:url(../image/work3.jpg);
}
#work4{
	background-image:url(../image/work4.jpg);
}
.shadow{
	display:inline-block;
	width:90px;
	height:90px;
	background-color:rgba(82, 50, 22, 0.56);
	transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.shadow:hover{
	background-color:transparent;
	transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.footer{
	font-size:14px;
	font-family:Arial;
	height:180px;
	width:913px;
	margin:0 auto;
	color:white;
}
.contact{
	display:inline-block;
	width:25%;
	vertical-align:top;
	float:left;
}
.e-mail a{
	color:#f6ae0a;
}
.e-mail img{
	margin-right:7px;
	margin-top:20px;
}
.e-mail  a img{
	margin-right:7px;
	margin-top:35px;
}
.e-mail span{
	vertical-align:bottom;
	color:#ffffff;
}
.socials{
	display:inline-block;
	width:35%;
	vertical-align:top;
	margin-top:30px;
	margin-left:75px;
}
.socials ul li{
	padding-left:7px;
	list-style-type:none;
	display:inline-block;
}
.socials a{
	display:inline-block;
	width:26px;
	height:25px;
}
#item1{
	background:url(../image/socials.png);
	background-position:0px 0px;
}
#item1:hover{
	background-position:0px -25px;
}
#item2{
	background:url(../image/socials.png);
	background-position:-26px 0px;
}
#item2:hover{
	background-position:-26px -25px;
}
#item3{
	background:url(../image/socials.png);
	background-position:-52px 0px;
}
#item3:hover{
	background-position:-52px -25px;
}
#item4{
	background:url(../image/socials.png);
	background-position:-78px 0px;
}
#item4:hover{
	background-position:-78px -25px;
}
#item5{
	background:url(../image/socials.png);
	background-position:-104px 0px;
}
#item5:hover{
	background-position:-104px -25px;
}
#item6{
	width:25px;
	background:url(../image/socials.png);
	background-position:-130px 0px;
}
#item6:hover{
	background-position:-130px -25px;
}
#item7{
	width:25px;
	background:url(../image/socials.png);
	background-position:-155px 0px;
}
#item7:hover{
	background-position:-155px -25px;
}
.signature{
	display:inline-block;
	width:30%;
	vertical-align:top;
	float:right;
	color:#6e634f;
}
.signature img{
	float:right;
}
.signature p{
	margin-top:5px;
	font-size:12px;
	float:right;
}