@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensed Light"; */
@font-face {
    font-family: "RobotoCondensedLight";
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensed Bold"; */
@font-face {
    font-family: "RobotoCondensedBold";
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"),
    url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
*{
	margin:0;
	padding:0;
}
.header_content{
	font-family:RobotoCondensed,Helvetica,Arial,sans-serif;
	width:100%;
	background-image:url(../image/blog_bg.jpg);
	background-repeat:no-repeat;
	background-position:50% 0%;
}
.header{
	height:305px;
	width:913px;
	margin:0 auto;
}
.menu{
	display:inline-block;
	height:80px;
	width:100%;
	background-image:url(../image/header_back.png);
	background-repeat:no-repeat;
}
.logo{
	display:inline-block;
	width:179px;
	margin-right:140px;
}
.menu img{
	padding-top:6px;
	padding-right:35px;
}
.item{
	display:inline-block;
	vertical-align:top;
	margin-right:50px;
}
.item li{
	display:inline-block;
}
.item ul a{
	text-decoration:none;
	display:inline-block;
	padding:33px 25px 28px 25px;
	text-transform:uppercase;
	font-size:0.875em;
	color:#797979;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.item ul a:hover{
	color:#d27543;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.language{
	font-family:RobotoCondensed,Helvetica,Arial,sans-serif;
	vertical-align:top;
	display:inline-block;
	font-weight:300;
}
.language li{
	display:inline-block;
}
.language li a{
	text-decoration:none;
	display:inline-block;
	padding:35px 5px 28px 5px;
	text-transform:uppercase;
	font-size:0.875em;
	color:#9f8e71; 
	text-shadow:1px black;
}
#language{
	color:#727272;
}
#blog{
	color:#ffffff;
	background-image:url(../image/menu_back.jpg);
	background-repeat:no-repeat;
	background-size:87px 80px;
	border-bottom:3px solid #f6ae0a;
	border-left:1px solid #2a2a2a;
	border-right:1px solid #2a2a2a;
}
.header h3{
	font-family:RobotoCondensedLight,Helvetica,Arial,sans-serif;
	margin-top:80px;
	margin-left:40px;
	margin-bottom:80px;
	font-weight:100;
	color:#e79705;
	font-size:1.7em;
	text-transform:uppercase;
}
#main_link{
	margin-left:40px;
	display:inline-block;
	height:15px;
	width:65px;
	padding-right:10px;
	border-right:1px solid #9f8e71;
	color:#9f8e71;
	font-size:0.875em;
	text-transform:uppercase;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
#main_link:hover{
	color:#d27543;
	border-right:1px solid #d27543;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.header p{
	display:inline;
	color:#9f8e71;
	font-size:0.875em;
	text-transform:uppercase;
	padding-left:10px;
}
.main_content{
	background-color:#ffffff;
	width:100%;
}
.inner{
	width:913px;
	margin:0 auto;
}
.image1{
	background-image:url(../image/blog_im1.jpg);
	margin-top:38px;
	display:inline-block;
	width:913px;
	height:204px;
}
.image2{
	background-image:url(../image/blog_im2.jpg);
	display:inline-block;
	width:913px;
	height:204px;
}
.tenthmay{
	display:inline-block;
	width:90px;
	height:26px;
	background-color:#f5ac0a;
	color:#ffffff;
	margin-left:45px;
	margin-top:178px;
	font-family:RobotoCondensed,Helvetica,Arial,sans-serif;
	font-weight:300;
	font-size:14px;
	text-align:center;
	box-sizing:border-box;
	padding-top:5px;
}
.text_bold{
	font-family:RobotoCondensed,Helvetica,Arial,sans-serif;
	font-size:36px;
	margin:25px 43px;
}
.simple_text{
	margin:20px 43px;
	font-family:Arial;
	font-size:16px;
}
.read_more{
	margin:12px 0px 34px 43px;
	box-sizing:border-box;
	padding-top:3px;
	display:inline-block;
	width:145px;
	height:32px;
	border:1px solid #ffce75;
	color:#e79705;
	text-decoration:none;
	text-align:center;
	font-family:Calibri;
	font-size:18px;
}
.read_more img{
	padding-left:5px;
}
.socials{
	float:right;
	display:inline-block;
	width:12%;
	vertical-align:top;
	margin-top:12px;
	margin-right:43px;
}
.socials ul li{
	padding-left:7px;
	list-style-type:none;
	display:inline-block;
}
.socials a{
	display:inline-block;
	width:26px;
	height:25px;
}
#item1{
	background:url(../image/blog_socials.png);
	background-position:0px -25px;
}
#item1:hover{
	background-position:0px 0px;
}
#item2{
	background:url(../image/blog_socials.png);
	background-position:-26px -25px;
}
#item2:hover{
	background-position:-26px 0px;
}
#item3{
	background:url(../image/blog_socials.png);
	background-position:-52px -25px;
}
#item3:hover{
	background-position:-52px 0px;
}
.border{
	margin-left:43px;
	margin-bottom:38px;
}
#lower{
	margin-top:25px;
	margin-bottom:400px;
}
.footer{
	font-size:14px;
	font-family:Arial;
	height:180px;
	width:913px;
	margin:0 auto;
	color:white;
}
.contact{
	display:inline-block;
	width:25%;
	vertical-align:top;
	float:left;
}
.e-mail a{
	color:#f6ae0a;
}
.e-mail img{
	margin-right:7px;
	margin-top:20px;
}
.e-mail  a img{
	margin-right:7px;
	margin-top:35px;
}
.e-mail span{
	vertical-align:bottom;
	color:#ffffff;
}
.footer{
	display:block;
	width:100%;
	height:180px;
	background-image:url(../image/blog_bg_footer.jpg);
}
.footer_inner{
	font-size:14px;
	font-family:Arial;
	width:913px;
	margin:0 auto;
	color:white;
}
.contact{
	display:inline-block;
	width:25%;
	vertical-align:top;
	float:left;
}
.e-mail a{
	color:#f6ae0a;
}
.e-mail img{
	margin-right:7px;
	margin-top:20px;
}
.e-mail  a img{
	margin-right:7px;
	margin-top:35px;
}
.e-mail span{
	vertical-align:bottom;
	color:#ffffff;
}
.footer_socials{
	display:inline-block;
	width:35%;
	vertical-align:top;
	margin-top:58px;
	margin-left:75px;
}
.footer_socials ul li{
	padding-left:7px;
	list-style-type:none;
	display:inline-block;
}
.footer_socials a{
	display:inline-block;
	width:26px;
	height:25px;
}
#pic1{
	background:url(../image/socials.png);
	background-position:0px 0px;
}
#pic1:hover{
	background-position:0px -25px;
}
#pic2{
	background:url(../image/socials.png);
	background-position:-26px 0px;
}
#pic2:hover{
	background-position:-26px -25px;
}
#pic3{
	background:url(../image/socials.png);
	background-position:-52px 0px;
}
#pic3:hover{
	background-position:-52px -25px;
}
#pic4{
	background:url(../image/socials.png);
	background-position:-78px 0px;
}
#pic4:hover{
	background-position:-78px -25px;
}
#pic5{
	background:url(../image/socials.png);
	background-position:-104px 0px;
}
#pic5:hover{
	background-position:-104px -25px;
}
#pic6{
	width:25px;
	background:url(../image/socials.png);
	background-position:-130px 0px;
}
#pic6:hover{
	background-position:-130px -25px;
}
#pic7{
	width:25px;
	background:url(../image/socials.png);
	background-position:-155px 0px;
}
#pic7:hover{
	background-position:-155px -25px;
}
.signature{
	display:inline-block;
	width:30%;
	vertical-align:top;
	margin-top:30px;
	float:right;
	color:#6e634f;
}
.signature img{
	float:right;
}
.signature p{
	margin-top:5px;
	font-size:12px;
	float:right;
}