@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensed Light"; */
@font-face {
    font-family: "RobotoCondensedLight";
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensed Bold"; */
@font-face {
    font-family: "RobotoCondensedBold";
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"),
    url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
*{
	margin:0;
	padding:0;
}
.header_content{
	font-family:RobotoCondensed Light,Helvetica,Arial,sans-serif;
	width:100%;
	font-weight:100;
	background-image:url(../image/blog_bg.jpg);
	background-repeat:no-repeat;
	background-position:50% 0%;
}
body a{
	color:#9f8e71;;
}
.header{
	height:305px;
	width:913px;
	margin:0 auto;
}
.menu{
	display:inline-block;
	height:80px;
	width:100%;
	background-image:url(../image/header_back.png);
	background-repeat:no-repeat;
}
.logo{
	display:inline-block;
	width:179px;
	margin-right:140px;
}
.menu img{
	padding-top:6px;
	padding-right:35px;
}
.item{
	display:inline-block;
	vertical-align:top;
	margin-right:50px;
}
.item li{
	display:inline-block;
}
.item ul a{
	text-decoration:none;
	display:inline-block;
	padding:33px 25px 28px 25px;
	text-transform:uppercase;
	font-size:0.875em;
	color:#797979;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.item ul a:hover{
	color:#d27543;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.language{
	font-family:RobotoCondensed,Helvetica,Arial,sans-serif;
	vertical-align:top;
	display:inline-block;
	font-weight:300;
}
.language li{
	display:inline-block;
}
.language li a{
	text-decoration:none;
	display:inline-block;
	padding:35px 5px 28px 5px;
	text-transform:uppercase;
	font-size:0.875em;
	color:#9f8e71; 
	text-shadow:1px black;
}
#language{
	color:#727272;
}
#brief{
	color:#ffffff;
	background-image:url(../image/menu_back.jpg);
	background-repeat:no-repeat;
	background-size:87px 80px;
	border-bottom:3px solid #f6ae0a;
	border-left:1px solid #2a2a2a;
	border-right:1px solid #2a2a2a;
}
.header h3{
	font-family:RobotoCondensedLight,Helvetica,Arial,sans-serif;
	margin-top:80px;
	margin-left:40px;
	margin-bottom:80px;
	font-weight:100;
	color:#e79705;
	font-size:1.7em;
	text-transform:uppercase;
}
.main_link{
	margin-left:40px;
	display:inline-block;
	height:15px;
	width:65px;
	padding-right:10px;
	border-right:1px solid #9f8e71;
	font-size:0.875em;
	text-transform:uppercase;
	transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.main_link:hover{
	color:#d27543;
	border-right:1px solid #d27543;
	transition-property: color;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.header p{
	display:inline;
	color:#9f8e71;
	font-size:0.875em;
	text-transform:uppercase;
	padding-left:10px;
}
.content{
	display:block;
	background-color:#ffffff;
	width:100%;
}
.inner{
	padding-top:20px;
	font-family:RobotoCondensed,Helvetica,Arial,sans-serif;
	font-weight:300;
	display:block;
	width:913px;
	margin:0 auto;
}
.inner img{
	margin-left:43px;
	vertical-align:top;
	margin-top:25px;
}
.bold{
	display:inline-block;
	max-width:810px;
	font-size:16px;
	margin:23px 40px 10px 1px;
}
.grey{
	color:#9d9d9d;
	font-size:14px;
	margin-left:60px;
	margin-bottom:10px;
}
.input{
	outline-color:#f6ae0a;
	margin-left:43px;
	width:830px;
	resize: vertical;
	background-color:#f2f2f2;
	border:none;
}
#input1{
	height:30px;
}
#input2{
	height:30px;
}
textarea{
	outline-color:#f6ae0a;
	height:60px;
}
#line1{
	width:830px;
	margin-top:40px;
	margin-bottom:15px;
}
.yellow{
	display:inline-block;
	max-width:830px;
	font-size:16px;
	color:#f8b00b;
	margin:23px 20px 30px 43px;
}
.bold_right{
	display:inline-block;
	max-width:830px;
	font-size:16px;
	margin:20px 20px 10px 43px;
}
.grey_right{
	color:#9d9d9d;
	font-size:14px;
	margin-left:43px;
	margin-bottom:10px;
}
.file{
	display:inline-block;
	color:#9d9d9d;
	vertical-align:top;
	font-size:16px;
	margin-top:17px;
	margin-left:43px;
	margin-bottom:10px;
}
.file_form{
	vertical-align:top;
	display:inline-block;
	width:550px;
	height:30px;
	margin-top:10px;
	background-color:#f2f2f2;
	outline-color:#f6ae0a;
	border:none;
	opacity:0.01;
}
.inner pre{
	display:inline-block;
	background-color:#f2f2f2;
	vertical-align:top;
	width:550px;
	height:30px;
	margin-top:10px;
	color:black;
}
.review{
	box-sizing:border-box;
	vertical-align:top;
	display:inline-block;
	width:127px;
	height:30px;
	margin-top:10px;
	padding-top:5px;
	background-color:#D7D7D7;
	text-transform:uppercase;
	font-size:20px;
	color:#ffffff;
	text-align:center;
	cursor: pointer;
	transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.review:hover{
	background-color:#c0c0c0;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
#line2{
	width:830px;
	margin-top:40px;
	margin-bottom:35px;
}
#last_p{
	color:#9d9d9d;
	font-size:16px;
	margin-left:190px;
	margin-bottom:75px;
}
.send{
	font-family:RobotoCondensedLight;
	font-weight:100;
	margin-left:300px;
	display:inline-block;
	width:353px;
	height:83px;
	background-color:#f6ae0a;
	box-sizing:border-box;
	text-transform:uppercase;
	color:#ffffff;
	font-size:39px;
	text-align:center;
	padding-top:15px;
	margin-bottom:120px;
}
.footer{
	font-size:14px;
	font-family:Arial;
	height:180px;
	width:913px;
	margin:0 auto;
	color:white;
}
.contact{
	display:inline-block;
	width:25%;
	vertical-align:top;
	float:left;
}
.e-mail a{
	color:#f6ae0a;
}
.e-mail img{
	margin-right:7px;
	margin-top:20px;
}
.e-mail  a img{
	margin-right:7px;
	margin-top:35px;
}
.e-mail span{
	vertical-align:bottom;
	color:#ffffff;
}
.footer{
	display:block;
	width:100%;
	height:180px;
	background-color:#000000;
}
.footer_inner{
	font-size:14px;
	font-family:Arial;
	width:913px;
	margin:0 auto;
	color:white;
}
.contact{
	display:inline-block;
	width:25%;
	vertical-align:top;
	float:left;
}
.e-mail a{
	color:#f6ae0a;
}
.e-mail img{
	margin-right:7px;
	margin-top:20px;
}
.e-mail  a img{
	margin-right:7px;
	margin-top:35px;
}
.e-mail span{
	vertical-align:bottom;
	color:#ffffff;
}
.footer_socials{
	display:inline-block;
	width:35%;
	vertical-align:top;
	margin-top:58px;
	margin-left:75px;
}
.footer_socials ul li{
	padding-left:7px;
	list-style-type:none;
	display:inline-block;
}
.footer_socials a{
	display:inline-block;
	width:26px;
	height:25px;
}
#pic1{
	background:url(../image/socials.png);
	background-position:0px 0px;
}
#pic1:hover{
	background-position:0px -25px;
}
#pic2{
	background:url(../image/socials.png);
	background-position:-26px 0px;
}
#pic2:hover{
	background-position:-26px -25px;
}
#pic3{
	background:url(../image/socials.png);
	background-position:-52px 0px;
}
#pic3:hover{
	background-position:-52px -25px;
}
#pic4{
	background:url(../image/socials.png);
	background-position:-78px 0px;
}
#pic4:hover{
	background-position:-78px -25px;
}
#pic5{
	background:url(../image/socials.png);
	background-position:-104px 0px;
}
#pic5:hover{
	background-position:-104px -25px;
}
#pic6{
	width:25px;
	background:url(../image/socials.png);
	background-position:-130px 0px;
}
#pic6:hover{
	background-position:-130px -25px;
}
#pic7{
	width:25px;
	background:url(../image/socials.png);
	background-position:-155px 0px;
}
#pic7:hover{
	background-position:-155px -25px;
}
.signature{
	display:inline-block;
	width:30%;
	vertical-align:top;
	margin-top:30px;
	float:right;
	color:#6e634f;
}
.signature img{
	float:right;
}
.signature p{
	margin-top:5px;
	font-size:12px;
	float:right;
}