@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensed Light"; */
@font-face {
    font-family: "RobotoCondensedLight";
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensed Bold"; */
@font-face {
    font-family: "RobotoCondensedBold";
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"),
    url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
*{
	margin:0;
	padding:0;
}
.header_content{
	font-family:RobotoCondensed,sans-serif;
	width:100%;
	font-weight:100;
	background-image:url(../image/blog_bg.jpg);
	background-repeat:no-repeat;
	background-position:50% 0%;
}
.header{
	height:305px;
	width:913px;
	margin:0 auto;
}
.menu{
	display:inline-block;
	height:80px;
	width:100%;
	background-image:url(../image/header_back.png);
	background-repeat:no-repeat;
}
.logo{
	display:inline-block;
	width:179px;
	margin-right:140px;
}
.menu img{
	padding-top:6px;
	padding-right:35px;
}
.item{
	display:inline-block;
	vertical-align:top;
	margin-right:50px;
}
.item li{
	display:inline-block;
}
.item ul a{
	text-decoration:none;
	display:inline-block;
	padding:33px 25px 28px 25px;
	text-transform:uppercase;
	font-size:14px;
	color:#797979;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.item ul a:hover{
	color:#d27543;
	transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.language{
	font-family:RobotoCondensed,Helvetica,Arial,sans-serif;
	vertical-align:top;
	display:inline-block;
	font-weight:300;
}
.language li{
	display:inline-block;
}
.language li a{
	text-decoration:none;
	display:inline-block;
	padding:35px 5px 28px 5px;
	text-transform:uppercase;
	font-size:0.875em;
	color:#9f8e71; 
	text-shadow:1px black;
}
#language{
	color:#727272;
}
#brief{
	color:#ffffff;
	background-image:url(../image/menu_back.jpg);
	background-repeat:no-repeat;
	background-size:143px 80px;
	border-bottom:3px solid #f6ae0a;
	border-left:1px solid #2a2a2a;
	border-right:1px solid #2a2a2a;
}
.header h3{
	font-family:RobotoCondensedLight,Helvetica,Arial,sans-serif;
	margin-top:80px;
	margin-left:40px;
	margin-bottom:75px;
	font-weight:100;
	color:#e79705;
	font-size:1.7em;
	text-transform:uppercase;
}
.header p{
	display:inline;
	color:#9f8e71;
	font-size:0.875em;
	text-transform:uppercase;
	padding-left:10px;
}
.sites{
	border-bottom:1px solid #f6ae0a;
	margin-left:40px;
	display:inline-block;
	font-family:RobotoCondensedLight,Helvetica,Arial,sans-serif;
	font-weight:100;
	font-size:14px;
}
.sites a{
	margin-right:50px;
	padding-bottom:5px;
	padding-top:5px;
	display:inline-block;
	text-decoration:none;
	color:#ffffff;
	text-transform:uppercase;
}
.sites li{
	list-style-type:none;
	display:inline-block;
}
.sites .gaming_sites{
	color:#f6ae0a;
	border-bottom:3px solid #f6ae0a;
}
.sites .all{
	margin-right:10px;
}
.content{
	display:block;
	background-color:#ffffff;
	width:100%;
}
.inner{
	font-family:RobotoCondensedLight,Helvetica,Arial,sans-serif;
	font-weight:100;
	display:block;
	width:913px;
	margin:0 auto;
	margin-bottom:50px;
	margin-top:10px;
}
.inner a{
	text-decoration:none;
}
.site{
	display:inline-block;
	min-width:250px;
}
.site li{
	margin-right:70px;
	margin-left:40px;
	margin-top:50px;
	list-style-type:none;
}
.site span{
	display:inline-block;
	width:180px;
	height:180px;
	background-image:url(../image/portfolio1.jpg);
	background-repeat:no-repeat;
	border:4px solid #d1d1d1;
	transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.yellow_shadow{
	opacity:0;
	box-sizing:border-box;
	display:inline-block;
	width:100%;
	height:100%;
	background-image:url(../image/portfolio_shadow.png);
	transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.yellow_shadow:hover{
	opacity:0.8;
	transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
.site span:hover{
	border:4px solid #f6ae0a;
	transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
}
#site2{
	background-image:url(../image/portfolio1.jpg);
	background-position:-182px 0px;
}
#site3{
	background-image:url(../image/portfolio1.jpg);
	background-position:-364px 0px;
}
#site4{
	background-image:url(../image/portfolio1.jpg);
	background-position:0px -182px;
}
#site5{
	background-image:url(../image/portfolio1.jpg);
	background-position:-182px -182px;
}
#site6{
	background-image:url(../image/portfolio1.jpg);
	background-position:-364px -182px;
}
#site7{
	background-image:url(../image/portfolio1.jpg);
	background-position:0px -364px;
}
#site8{
	background-image:url(../image/portfolio1.jpg);
	background-position:-182px -364px;
}
#site9{
	background-image:url(../image/portfolio1.jpg);
	background-position:-364px -364px;
}
.about{
	font-size:14px;
	color:#797979;
	padding-top:5px;
	padding-left:4px;
}
.name{
	font-size:25px;
	color:#000000;
	padding-left:4px;
}

.footer{
	font-size:14px;
	font-family:Arial;
	height:180px;
	width:913px;
	margin:0 auto;
	color:white;
}
.contact{
	display:inline-block;
	width:25%;
	vertical-align:top;
	float:left;
}
.e-mail a{
	color:#f6ae0a;
}
.e-mail img{
	margin-right:7px;
	margin-top:20px;
}
.e-mail  a img{
	margin-right:7px;
	margin-top:35px;
}
.e-mail span{
	vertical-align:bottom;
	color:#ffffff;
}
.footer{
	display:block;
	width:100%;
	height:180px;
	background-color:#000000;
}
.footer_inner{
	font-size:14px;
	font-family:Arial;
	width:913px;
	margin:0 auto;
	color:white;
}
.contact{
	display:inline-block;
	width:25%;
	vertical-align:top;
	float:left;
}
.e-mail a{
	color:#f6ae0a;
}
.e-mail img{
	margin-right:7px;
	margin-top:20px;
}
.e-mail  a img{
	margin-right:7px;
	margin-top:35px;
}
.e-mail span{
	vertical-align:bottom;
	color:#ffffff;
}
.footer_socials{
	display:inline-block;
	width:35%;
	vertical-align:top;
	margin-top:58px;
	margin-left:75px;
}
.footer_socials ul li{
	padding-left:7px;
	list-style-type:none;
	display:inline-block;
}
.footer_socials a{
	display:inline-block;
	width:26px;
	height:25px;
}
#pic1{
	background:url(../image/socials.png);
	background-position:0px 0px;
}
#pic1:hover{
	background-position:0px -25px;
}
#pic2{
	background:url(../image/socials.png);
	background-position:-26px 0px;
}
#pic2:hover{
	background-position:-26px -25px;
}
#pic3{
	background:url(../image/socials.png);
	background-position:-52px 0px;
}
#pic3:hover{
	background-position:-52px -25px;
}
#pic4{
	background:url(../image/socials.png);
	background-position:-78px 0px;
}
#pic4:hover{
	background-position:-78px -25px;
}
#pic5{
	background:url(../image/socials.png);
	background-position:-104px 0px;
}
#pic5:hover{
	background-position:-104px -25px;
}
#pic6{
	width:25px;
	background:url(../image/socials.png);
	background-position:-130px 0px;
}
#pic6:hover{
	background-position:-130px -25px;
}
#pic7{
	width:25px;
	background:url(../image/socials.png);
	background-position:-155px 0px;
}
#pic7:hover{
	background-position:-155px -25px;
}
.signature{
	display:inline-block;
	width:30%;
	vertical-align:top;
	margin-top:30px;
	float:right;
	color:#6e634f;
}
.signature img{
	float:right;
}
.signature p{
	margin-top:5px;
	font-size:12px;
	float:right;
}